In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('rail_data_cleaned_20230728132300.parquet')

In [3]:
# Subset of columns to consider for duplicates
subset_columns = ['unique_id', 'train_platform']

# Find rows with duplicated unique_id and train_platform
duplicates = df.duplicated(subset=subset_columns, keep=False)

# Find rows with null values in actual_arrival_time and actual_departure_time
null_rows = (df['actual_arrival_time'].isnull()) & (df['actual_departure_time'].isnull())

# Combine the conditions to get the rows to be removed
rows_to_remove = duplicates & null_rows

# Keep the rows that are not in rows_to_remove
df_cleaned = df[~rows_to_remove]

In [4]:
df_cleaned

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,pass,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,NaN,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,NaT,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,NaN,None,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,NaT,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,NaN,B,None,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,NaT,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,NaN,A,None,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,NaT,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,NaN,1,8,NaT,NaT,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94233,202307278055183,P55183,2023-07-27,Darwin,BRADIN,NaT,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,NaN,4,None,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True
94235,202307278055183,P55183,2023-07-27,Darwin,HLFX,NaT,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,NaN,1,None,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True
94238,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,NaT,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,NaN,1,None,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True
94240,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,NaT,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,NaN,1,None,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True
94243,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,NaT,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,NaN,3,None,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True